.crypto__container {
  width: 80%;
  margin: auto;
  padding: 24px;
}

.crypto-header {
  text-align: center;
}

.crypto-svg {
  margin-bottom: 20px;
}

.crypto-body {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.crypto-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 24px;
  text-align: center;
}

.crypto__h1 {
  margin-top: 0px;
  margin-bottom: 21px;
  line-height: 48px;
  font-size: 40px;
  color: rgb(15, 50, 86);
  font-weight: 500;
}

.crypto__p {
  font-size: 18px;
  color: rgb(144, 161, 184);
  margin: 0px;
}

.crypto-item-faded {
  color: rgb(144, 161, 184);
  margin: 18px 0px 23px;
  line-height: 24px;
  font-size: 16px;
}

.crypto-item-link {
  color: rgb(22, 82, 240);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.crypto-item-head {
  margin-top: 62px;
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(0, 47, 107);
}
